<!DOCTYPE html>
<html lang="en">
<head>
<title> About </title>
<meta charset="utf-8">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
body {
font-family: "Lato", sans-serif;
background-image: url(static/images/background.png);
background-size: cover;
background-color: hsla(0,0%,0%,1);
}
</style>
</head>
<body>

<!-- Navigation bar -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="/" class="w3-btn-block w3-hover-white">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-btn-block w3-hover-white">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="https://github.com/Sakimonk/mandarin" class="w3-btn-block w3-hover-white">CONTACT</a>
    </div>
    <div class="w3-col s3">
      <a href="http://www.qmul.ac.uk/about/howtofindus/mileend/" class="w3-btn-block w3-hover-white">FIND US</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px"></div>
	
<!-- Header -->
<div class="w3-container w3-padding-64 w3-center">
   <div id="content" style="width:980px;margin:0 auto;"></div>
</div>

<!-- About -->
<div style="background-color: white; overflow: auto; text-align: center" class="w3-row w3-padding-38">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
    <h1 class="w3-wide">OUR TEAM</h1>
    <p class="w3-justify">We are a team of four MSc Bioinformatics students that have created (name of the software) as a part of our six-weeks group project. User-friendly web-based software tool for analysing transcriptomic data and graphically representing the reuslts. (Name of the software) allows uploading a set of FASTA files from RNA-seq followed by de novo assembly experiments, identify differentially expressed transcripts and graphically explore the expression data.</p>
   </div>
</div>

</body>
</html>


   
